name: Release
on:
  push:
    tags: [v*]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: "Build Changelog"
      id: changelog
      uses: mikepenz/release-changelog-builder-action@v1.7.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Create Release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
      with:
        tag_name: ${{ github.ref }}
        release_name: JamesBotler ${{ github.ref }}
        body: ${{ steps.changelog.outputs.changelog }}
        draft: false
        prerelease: false